/src/screenscrape-website/bin/*
/src/screenscrape-website/obj/*
/src/screenscrape-website/.vs/*
/src/screenscrape-website/.vs/*

/src/screenscape-website-desktop/screenscape-website-desktop (Package)/obj/*
/src/screenscape-website-desktop/screenscape-website-desktop/obj/*
/src/screenscrape-website-core/screenscrape-website-core (Package)/bin/*
/src/screenscrape-website-core/screenscrape-website-core (Package)/obj/*
/src/screenscrape-website-core/screenscrape-website-core/bin/*
/src/screenscrape-website-core/screenscrape-website-core/obj/*
